@import url('https://fonts.googleapis.com/css2?family=Allura&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Island+Moments&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Outfit:wght@100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Sacramento&display=swap');
*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
* {
    scrollbar-width: none;
    -ms-overflow-style: none;
  }
  *::-webkit-scrollbar {
    display: none; 
  }
html{
  font-family: 'inter', sans-serif;
  box-sizing: border-box;
  overflow-x: hidden;
  scroll-behavior: smooth;
}
body{
    margin: 0;
    background-color: white;
    padding: 40px 20px;
}
button{
    cursor: pointer;
}
.login{
    display: flex;
    flex-direction: column;
    text-align: center;
}
.login h1{
    font-family: 'island moments';
    font-size: 40.81px;
    font-weight: 400;
    color: #FF7A18;
}
.login p{
    font-size: 24px;
    font-weight: 600;
}
.form{
    width: 100%;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
form{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 6px;
}
input[type="text"], input[type="password"]{
    width: 100%;
    height: 54px;
    border: 1px solid #BDBDBD;
    border-radius: 8px;
    padding: 4px 16px;
    font-family: inherit;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 20px;
}
input[type="text"]::placeholder, input[type="password"]::placeholder{
    font-size: 16px;
    font-weight: 400;
}
input:focus{
    outline: none;
    border: 2px solid #1E88E5;
}
label{
    font-size: 14px;
    font-weight: 500;
    color: #3B4758;
}
.forgotPassword{
    width: 100%;
}
.forgotPassword p{
    text-align: end;
    font-size: 12px;
    font-weight: 400;
    color: #1E88E5;
    padding-bottom: 20px;
}
.forgotPassword a{
    color: #1C7FF9;
    text-decoration: none;
}
.form button{
    padding: 18px;
    border: none;
    border-radius: 10px;
    background-color: #FF7A18;
    font-size: 16px;
    font-weight: 600;
    color: #FFFFFF;
}
.continue{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.continue p{
    text-align: center;
    font-size: 12px;
    font-weight: 400;
    color: #1F2937;

}
.continue button{
    width: 100%;
}
.orContinue{
    display: flex;
    gap: 20px;
    justify-content: center;
    text-align: center;
    align-items: center;
}
.gfbutton{
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 100%;
}
.gfbutton button{
    width: 100%;
    height: 48px;
    display: flex;
    align-items: center;
    border: 1px solid #BDBDBD;
    border-radius: 6px;
    background-color: white;
    justify-content: center;
}
.gfbutton .cont{
    font-family: 'roboto';
    font-size: 14px;
    font-weight: 400;
    color: #3B4758;

}
.createAcc{
    display: flex;
    gap: 5px;
    justify-content: center;
    font-size: 12px;
    font-weight: 400;
    color: #616161;
    padding-top: 15px;
}
.createAcc a{
    color: #1C7FF9;
    text-decoration: none;
}