@import url('https://fonts.googleapis.com/css2?family=Allura&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Island+Moments&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Outfit:wght@100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Sacramento&display=swap');
*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
* {
    scrollbar-width: none;
    -ms-overflow-style: none;
  }
  *::-webkit-scrollbar {
    display: none; 
  }
html{
  font-family: 'inter', sans-serif;
  box-sizing: border-box;
  overflow-x: hidden;
  scroll-behavior: smooth;
}
body{
    margin: 0;
    background-color: white;
    color: #1F2937;
}
button{
    cursor: pointer;
}
nav{
    padding: 5px 19px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
nav h1{
    font-family: 'island moments';
    font-size: 24px;
    font-weight: 400;
    color: #FF7A18;
    line-height: 40.81px;
}
nav i{
    font-size: 25px;
}
.heroSection{
    padding: 0;
    width: 100%;
    height: 765px;
    position: relative;
}
.heroImg{
    width: 100%;
    height: 100%;
}
.heroImg img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.heroTextAndButton{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.heroTextAndButton h1{
    font-size: 32px;
    font-weight: 700;
    line-height: 40px;
    color: #FFFFFF;
}
.heroTextAndButton p{
    font-size: 16px;
    font-weight: 500;
    color: #FFFFFF;
}
.heroTextAndButton button{
    width: 215px;
    height: 54px;
    border: none;
    border-radius: 10px;
    background-color: #FF7A18;
    font-size: 16px;
    font-weight: 600;
    color: #FFFFFF;
}
.heroSection .overlay{
    position: absolute;
    top: 0;
    left: 0;
    opacity: 1;
    width: 100%;
    height: 100%;
    display: flex;
    padding-top: 260px;
    padding-left: 8px;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.347);
}


.searchBarContainer{
    display: flex;
    width: 100%;
    justify-content: center;
    position: absolute;
    top: 99.8%;
}
.searchBar {
    display: flex;
    position: relative;
    width: 85%;
    max-width: 351px;
}

.searchBar i {
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
    color: #1F2937;
    font-size: 18px;
}

.searchBar input {
    width: 100%;
    height: 38px;
    padding: 7px 15px 7px 60px;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 400;
    color: #1F2937;
    justify-content: center;
    align-items: center;
}
.searchBar input::placeholder{
    color: #1F2937;
    font-size: 16px;
}
.searchBar input:focus {
    outline: none;
    border-color: #1E88E5;
}
.popularSection{
    display: flex;
    flex-direction: column;
    gap: 33px;
    width: 100%;
    padding: 96px 16px;
    background-color: #F3F4F6;
    text-align: center;
    align-items: center;
}
.food{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    max-width: 358px;
    height: 272px;
    border-radius: 14px;
    background-color: #FFFFFF;
}
.food p{
    font-size: 14px;
    font-weight: 500;
}
.Image{
    width: 100%;
}
.Image img{
    width: 100%;
    object-fit: cover;
}
.viewAllFoods a{
    text-decoration: none;
    color: #1E88E5;
    font-size: 15px;
    font-weight: 400;
}
.chefsSpecialSection{
    display: flex;
    flex-direction: column;
    gap: 33px;
    width: 100%;
    padding: 96px 16px;
    background-color: #F3F4F6;
    text-align: center;
    align-items: center;
}
.chefFood{
    display: flex;
    flex-direction: column;
    gap: 25px;
    width: 100%;
    max-width: 356px;
    height: 487px;
    border-radius: 14px;
    background-color: #FFFFFF;
}
.chefImage{
    width: 100%;
}
.chefImage img{
    width: 100%;
    object-fit: cover;
    border-radius: 14px 14px 0 0;
}
.chefFood .text{
    display: flex;
    flex-direction: column;
    padding: 0 17px;
    gap: 7px;
}
.chefFood h3{
    font-size: 24px;
    font-weight: 600;
    line-height: 34px;
}
.chefFood p{
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-align: start;
}
.priceAndCart{
    display: flex;
    padding: 0 14px;
    justify-content: space-between;
    align-items: center;
}
.priceAndCart p{
    color: #FF7A18;
}
.priceAndCart button{
    width: 160px;
    height: 54px;
    border: none;
    border-radius: 10px;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    background-color: #FF7A18;
}
.viewAllSpecials a{
    text-decoration: none;
    color: #1E88E5;
    font-size: 15px;
    font-weight: 400;
}
.advertSection{
    width: 100%;
    height: 656px;
    position: relative;
}
.advertImg{
    width: 100%;
    height: 100%;
}
.advertImg img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}
.advertSection .overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding-top: 170px;
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.347);
}
.advertTextAndButton{
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 10px;
    color: #FFFFFF;
}
.advertTextAndButton h1{
    font-size: 32px;
    font-weight: 700;
    line-height: 40px;
}
.advertTextAndButton p{
    font-size: 20px;
    font-weight: 600;
    line-height: 28px;
}
.advertTextAndButton button{
    width: 215px;
    height: 54px;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 600;
    color: #FFFFFF;
    background-color: #FF7A18;
}